<html>
	<head>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<link rel="stylesheet" type="text/css" th:href="@{/css/HeaderStyles.css}">

		<title>Ajouter</title>	
	</head>
	<body class="container mt-5">
		<div class="collapse navbar-collapse" id="myNavbar">
			<ul class="nav navbar-nav navbar-right">
				 <li><a th:href="@{/accueil}" style="color: black;">HOME</a></li>                       
				 <li class="dropdown">
				    <a class="dropdown-toggle" th:href="@{comptes}" style="color:black;">ListerCompte</a>
				</li>
			</ul>
		</div>
		<h2 class="text-center mb-4">Ajouter Compte</h2>
		<form th:action="@{/ajouter}" method="post" class="mb-3">
			
			<div clas="mb-3">
				<label for="titulaire">TITULAIRE</label>
				<input type="text" id="titulaire" name="titulaire" class="form-control">
			</div>
			<div class="mb-3">
				<label for="solde">SOLDE</label>
				<input type="text" id="solde" name="solde" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary addButton" >Valider</button>
		</form>
	</body>
</html>