<html>
<head>
	<title>DetailsCompte</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
			integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="container mt-5">
	<br>
	<table class="table table-bordered">
		<thead>
			<th>ID</th>
			<th>TITULAIRE</th>
			<th>SOLDE</th>
		</thead>
		<tbody>
			<tr>	
				<td th:text="${c.id}"></td>
				<td th:text="${c.titulaire}"></td>
				<td th:text="${c.solde}"></td>	
			</tr>
		</tbody>
	</table>
	<br>
	<h2 class="text-center mb-4">Dépôt</h2>
	<form th:action="@{/depot/{id}(id=${c.id})}" method="post" class="mb-3">
		<input type="text" name="id" hidden>

		<div class="mb-3">
			<label for="montant">Montant</label>
			<input type="text" id="montant" name="montant" placeholder="Entrée le montant à déposer" class="form-control">
		</div><br>
			<button type="submit" class="btn btn-primary w-100">Valider</button>
	</form>
	<br>
	
	<h2 class="text-center mb-4">Retrait</h2>
	<form th:action="@{/retrait/{id}(id=${c.id})}" method="post" class="mb-3">
		<input type="text" name="id" hidden>

			<div clas="mb-3">
				<label for="montant">Montant</label>
				<input type="text" id="montant" name="montant" placeholder="Entrée le montant à retirer" class="form-control">
			</div><br>
				<button type="submit" class="btn btn-primary w-100">Valider</button>
		</form>
</body>
</html>

